/AutoColliderSetUp.sln
/Library
/obj
/Temp
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/.vs/AutoColliderSetUp/v15/Server/sqlite3/db.lock
/.vs/AutoColliderSetUp/v15/Server/sqlite3/storage.ide
/.vs/AutoColliderSetUp/v15/Server/sqlite3/storage.ide-shm
/.vs/AutoColliderSetUp/v15/Server/sqlite3/storage.ide-wal
/.vs/AutoColliderSetUp/v15/.suo
